.alert {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
    animation: slideIn 0.5s forwards;
    z-index: 1000; 
}

.close-button {
    position: absolute;
    top: 4px; 
    right: 10px;
    font-size: 24px; 
  }

.alert button {
    transition: transform 0.5s ease-out;
}

.alert button:active {
    animation: slideOut 1s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}